= semantic_form_for @remedio do |f|
  = f.inputs do
    = f.input :nome
    = f.input :preco
    = f.input :composicao
    = f.input :entrega, start_year: 2013
    = f.input :receita, :as => :radio, :collection => [["Não", false], ["Sim", true]]
  = f.actions do
    = f.action :submit, :as => :input