<h1>Listing remedios</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Preco</th>
    <th>Composicao</th>
    <th>Receita</th>
    <th>Entrega</th>
    <th></th>
  </tr>

<% @remedios.each do |remedio| %>
  <tr>
    <td><%= remedio.nome %></td>
    <td><%= remedio.preco %></td>
    <td><%= remedio.composicao %></td>
    <td><%= remedio.receita %></td>
    <td><%= remedio.entrega %></td>
    <td><%= link_to 'Show', remedio %></td>
    <td><%= link_to 'Edit', edit_remedio_path(remedio) %></td>
    <td><%= link_to 'Destroy', remedio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Remedio', new_remedio_path %>
