<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @remedio.nome %>
</p>

<p>
  <b>Preco:</b>
  <%= @remedio.preco %>
</p>

<p>
  <b>Composicao:</b>
  <%= @remedio.composicao %>
</p>

<p>
  <b>Entrega:</b>
  <%= @remedio.composicao %>
</p>


<%= link_to 'Edit', edit_remedio_path(@remedio) %> |
<%= link_to 'Back', remedios_path %>
